# Prettier Ignore File
# https://prettier.io/docs/en/ignore

# Global Ignores
packages/*/dist/
packages/frontend/.svelte-kit/
packages/frontend/android/

# Add files not to be ignored
*.*
!*.html
!*.js
!*.json
!*.svelte
!*.ts
